.element__like {
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    border: 0;
    height: 18.13px;
    width: 20.76px;
    align-self: center;
}

.element__like:hover{
    opacity: 0.6;
    cursor: pointer;
}