.popup__close_image{
    position: fixed;
    top: -50px;
    right: -50px;
    left: auto;
}

@media screen and (max-width: 475px) {
    .popup__close_image {
        height: 30px;
        width: 30px;
        top: -26px;
        right: -26px;
    }
}