.popup__input-error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; 
    color: #FF0000;
    width: 358px;
    height: 35px;
    /*margin: 5px 0 0 0;*/
    margin: 0;
    padding: 5px 0 0 0;
}