@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header {
    max-width: 936px; /* 882px + 27 + 27 */
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 