@import url(./__logo/header__logo.css);

.header {
    max-width: 936px; /* 882px + 27 + 27 */
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}