.popup__form-noun {
    width: 358px;
    height: 0px;
    opacity: 0.2;
    border-bottom: 1px solid #000000;
    margin: 13.26px 0 0 0;
}

@media screen and (max-width: 475px) {
    .popup__form-noun {
        width: 250px;
    }
}