.popup__close{
    position: fixed;
    top: calc(50% - 225px);
    left: calc(50% + 203px);
    height: 58px;
    width: 58px;
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    border: 0;
    align-items: center;
}

.popup__close:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 475px) {
    .popup__close {
        height: 30px;
        width: 30px;
        top: calc(50% - 151px);
        left: calc(50% + 132px);
        background-size: 30px 30px;
    }
}