.footer__copy{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0 27px 0 27px;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .footer__copy {
        margin: 0 19px 0 19px;
        font-size: 14px;
        line-height: 17px;
    }
}